{% load i18n %}

{% block content %}	
<h5>{% trans 'Upcoming' %}</h5>
	{% if list_cals %}	 	
<table class="table table-striped">
	<tbody>
		{% for cal in list_cals %}			
		<tr>
			<td>	
				<ul class="thumbnails">
					  <li>
					      <a href="{{ cal.get_absolute_url }}" class="thumbnail">						
							<img src="/media/images/categories_icons/{{cal.cal_category}}.png" alt="{{ wiki_cal.cal_category }}"></img>						
					      </a>
					  </li>
				</ul>		
			</td>
			<td>
				<p><a href= "{{cal.get_absolute_url}}" >{{ cal.title }}</a></p>
				<p><a href= "{{cal.get_absolute_url}}" ><i class=" icon-map-marker"></i> {{ cal.place }}</a></p>
			</td>
			<td>
				<button class="btn btn-success disabled">
					{{ cal.start|date:"d M" }}
				</button>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>				
	{% else %}		
		<p id="bizlink">				
					<span class="picto_span blocknum blocknum-blue">
						<i class="icon_calendar-32"></i>
					</span>
					<span>No plans yet?</span>					
					<br>
					Start an event or join events near to your location !				
		</p> 		
	{% endif %}	
{% endblock %}

{% block extra-content %}
{% endblock %}